body {
    overflow: auto;
}

.projectHeader {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    font-family: "Titillium Web";
}

.responsiveGrid {
    overflow-y: auto;

    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
}

#projectRow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;

    justify-content: space-between;
}

#projectColumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}

@media only screen and (min-width: 1024px) {
    #projectColumn {
        -ms-flex: 30%;
        flex: 30%;
        max-width: 30%;
        /* padding: 0 4px; */
        padding-bottom: 2%;
    }
}
