body {
    overflow: hidden
}

.modalBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.5);
    z-index: 1;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    position: 'fixed';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: 'hidden';
    overflow-y: 'auto';

    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;

    backdrop-filter: blur(10px);

    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}

.modalForeground {
    background: white;
    color: black;
    width: 90%;
    height: 90%;
    overflow-y: auto;
    font-family: "Titillium Web";
    border-top: 10px solid rgb(84, 194, 245);
    box-shadow: 0px 0px 30px 2px rgba(84, 194, 245, 0.5);
    border-radius: 10px;
}

.close {
    color: rgb(84, 194, 245);
    width: 100%;
    font-weight: bold;
    text-align: right;
    margin: 0;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.closeText {
    font-size: 32px;
    margin: 0;
    padding-right: 2%;
    padding-top: 1%;
}

.projectTitle {
    width: 90%;
    margin: auto;
}

.projectDescription {
    width: 90%;
    margin: auto;
    text-align: left;
}

.projectFigures {
    width: 90%;
    margin: auto;
}

.projectNameStyle {
    margin-bottom: 0;
}

.repoLinkStyle {
    color: black;
    text-decoration: none;
}

.repoLinkStyle:hover {
    color: rgb(84, 194, 245);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 194, 245);
}
